.kotak-input{
    display: block;
    resize: none;
}
body{
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
p > span{
    color: coral
    font-weight bold;
}
